.logoContainer{
    position: absolute;
    right: 20px;
    top: -1px;
}
.LinkContainer{
    display: flex;
    justify-content: center;
    align-items:center ;
    text-decoration: none;
}
.logoContainer img{
    width: 120px;
}
.logoText{
    font-size: 20px;
    font-weight: bold;
    color: #006838;
}
